body {
  background-color: #63a8ce;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-size: 14px;
}

.tweet-box-container {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  border-radius: 10px;
  width: 600px;
  height: auto;
  background-color: white;
  margin: 20px 0;
}

.main-user {
  padding-top: 10px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.tweet-header {
  background-color: #e5f5fe;
  border-radius: 10px;
  width: inherit;
  height: 150px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 19px;
  font-weight: bold;
}

.userTweet {
  width: 500px;
  height: 40px;
  border-bottom-style: solid;
  border-bottom-color: #e6ecf0;
  border-bottom-width: 1px;
  padding: 15px;
  justify-content: center;
}
